# ignore the notes folder
notes/


# ignore the .clean.sh
clean.sh

# ignore the dot underscore files created by macOS
._*

# ignore DS_Store files created by macOS
.DS_Store


# ignore the environment files
.env
.env.prodcution
.env.development