# ignore the notes folder
notes/


# ignore the .clean.sh and build file
build.sh
clean.sh

# ignore the dot underscore files created by macOS
._*

# ignore DS_Store files created by macOS
.DS_Store


# ignore the environment files
.env
.env.prodcution
.env.development
.flaskenv


# ignore the virtual environment folder
backend/.venv/


# ignore the Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*.pyc

# ignore the node modules folder
frontend/node_modules/